.card .custom-card-img {
    height: 300px; /* Maintain the aspect ratio of the original image */
    object-fit: scale-down;
}

.entries-container{
    padding-left: 300px;
    padding-right: 300px;
}

.form-search{
    margin-right: 10px;
}

.custom-img-entries{
    height: 50px;
    object-fit: cover;
}

.page-container{
    padding-left: 300px;
    padding-right: 300px;
}

.custom-nav-container{
    padding-left: 300px;
    padding-right: 300px;
}